<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   
    <title> {% block title  %} {% endblock title  %} - My todo</title>

</head>

<body>
  

    <nav>
        <div class="box">
        <a href="/html"> <li> Todo list </li></a>
        <div class="search">
        <form >
            <input type="text" name="search" placeholder="Search...">
           <button><span class="material-symbols-outlined">
                search
                </span> </button> 
        </form>
       </div>
            
        </div>

        
        
    </nav>
{% block body  %}
        
{% endblock body  %}
    
</body>

</html>
